.admin-login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  overflow: hidden;
}

/* LEFT SIDE – LOGIN FORM */
.admin-login-form {
  width: 50%;
  height: 100%;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.admin-login-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 6rem;
}

.admin-login-form h2 {
  font-family: "Hammersmith One", sans-serif;
}

.admin-login-form input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 320px;
}

.admin-login-form button {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #222b40;
  color: white;
  border: none;
  cursor: pointer;
}

/* SWITCH LOGIN TYPE BUTTON */
.toggle-button {
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  position: absolute;
  left: 290px;
  bottom: 120px; /* moved down */
  color: black;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

/* RIGHT SIDE – INTRO SECTION */
.admin-intro-text {
  width: 50%;
  height: 100%;
  background-color: #222b40;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* White Card */
.admin-text-content {
  background: #fff;
  border-radius: 12px;
  padding: 2rem 2rem;
  width: 400px;
  position: relative;
  left: 10px;
}

/* Speech bubble cut */
.admin-text-content::after {
  content: "";
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 250px;
  height: 100px;
  background: #fff;
  border-radius: 12px;
}

/* Header text */
.admin-text-content h1 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #111827;
  margin-bottom: 1rem;
  text-align: left;
}

/* Description text */
.admin-text-content p {
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  font-size: 17px;
  color: #333;
  text-align: left;
  margin-bottom: 2rem;
}

.box-wrapper {
  position: absolute;
  bottom: -60px;
  right: 0.6cm;
  width: 200px;
  height: 110px; /* this controls how much is shown */
  overflow: hidden;
}

.admin-box-icon {
  width: 200px;
  position: absolute;
  bottom: 10;
  z-index: 10;
}

/* Fade control for both header and toggle button */
.fade-label {
  transition: opacity 100ms ease;
  opacity: 1;
}

.fade-label.fade-out {
  opacity: 0.2;
}

/* Prevent layout jump when text switches */
.fade-label {
  display: inline-block;
  min-width: 160px; /* adjust if needed */
}
