/* Overall container */
.saleschart-container {
  position: absolute;
  left: 230px;
  width: 300px;
  padding-top: 60px;
}

/* Top filter row */
.chart-filters-row {
  display: flex;
  gap: 12px;
  margin-bottom: -20px;
}

.chart-select,
.chart-date {
  padding: 5px 5px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  background: white;
}

/* Main chart layout */
.chart-main {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Pie Chart */
.pie-wrapper {
  width: 45%;
  min-width: 200px;
}

/* Right Side Legend */
.legend-wrapper {
  width: 55%;
}

/* Total Profit */
.profit-label {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 0;
}

.profit-value {
  font-size: 25px;
  font-weight: 700;
  color: #1f2937;
  margin-top: -5px;
  margin-bottom: 20px;
}

/* Scrollable category container */
.category-scroll {
  max-height: 150px;
  overflow-y: auto;
  padding-right: 8px;
}

/* Hide scrollbar (nice UI) */
.category-scroll::-webkit-scrollbar {
  width: 6px;
}

.category-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

/* Individual category line */
.legend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
}

/* Color box */
.legend-color {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  margin-right: 10px;
}

/* Category name + color aligned */
.legend-name {
  flex: 1;
  margin-left: 6px;
  font-weight: 500;
}

/* Amount */
.legend-amount {
  font-weight: 600;
  color: #374151;
}
